<launch>
  <!-- start up world -->
  <include file="$(find gazebo_worlds)/launch/office_world.launch"/>

  <!-- start up robot -->
  <include file="$(find pr2_gazebo)/pr2.launch"/>

  <!-- load map -->
  <node pkg="map_server" type="map_server" args="$(find willow_maps)/willow-sans-whitelab-2010-02-18-0.025.pgm 0.025" respawn="true" name="map1" />

  <!-- if you have a map.pgm and a map.yaml, use this instead -->
  <!-- <node pkg="map_server" type="map_server" args="$(find some_package)/map.yaml" respawn="true" name="map1" /> -->

</launch>
